<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>project 1</title>
    </head>

    <body>
        <h1>Alpha 1.1</h1>

        <form id="form">
            <div id="input_container">
                <input type="text" id="inputed" class="inputed" placeholder="symptoms" list="symptoms" required>
                <datalist id="symptoms"></datalist>
            </div>
            <button type="button" id="add">add</button>

            <img class="human_body" src="static\Printable-Human-Body-Outline-Template-removebg-preview.png">
            <div class="shader"></div>
            
            <button type="submit" >submit</button>
        </form>

        <h2 id="result"> re</h2>

        <a href="{{ url_for('find_symptoms')}}">find symptoms</a>

        <script src="/static/script.js"></script>

        <h5>Our goal is to make easy to read , simple and accessible site <br> Health should be accessible to anyone and everyone regardless of their background</h5>
    </body>
</html>