<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>styptoms</title> 
    </head>
    <body>
        <h1>YO</h1>
        
        <img class="human_body" src="static\human.png">
        <div class="shader"></div>

        <a href="{{url_for('index')}}">now go back</a>

        <script src="/static/script.js"></script>
    </body>
</html>