<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width , initial-scale=1.0">
        <title>styptoms</title> 
    </head>
    <body>
        <h1>YO</h1>

        <a href="{{url_for('index')}}">now go back</a>
        <br><br>
        
        <form id="page1" class="page">
            <h2>Enter you Details</h2>
            <label>Age:</label>
            <input type="number" id="age" required>
            <br><br>
            <select id="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <br><br>
            <button type="submit"><h2>NEXT</h2></button>
        </form>

        <div id="page2" class="page hidden">
            <h1>click on the body</h1>
            <h2 id="body_part">body part</h2>
            <h2 id="info">info</h2>


            <img class="human_body" src="static\Printable-Human-Body-Outline-Template-removebg-preview.png" usemap="#bodymap" onclick="body_clicked(event , 'body')">

            <map name="bodymap">
                <area shape="rect" coords="123,15,213,95" href="#" onclick="body_clicked(event , 'head')">
                <area shape="rect" coords="112,117,248,365" href="#" onclick="body_clicked(event , 'chest')">
                <area shape="rect" coords="10,131,343,331" href="#" onclick="body_clicked(event , 'arms')">
                <area shape="rect" coords="92,358,261,648" href="#" onclick="body_clicked(event , 'legs')">
            </map>
            
            <div class="shader"></div>
        </div>

        <div id="symptom_data" style="position: absolute; top: 800px;">
            <form id="search_symp">
                <input type="text" id="s_symp" placeholder="search symptoms" list="symptoms" required >
                <datalist id="symptoms"></datalist>
                <button type="submit">submit</button>
            </form>

            <h1>SYMPTOMS</h1>
            
            <h2>List of all symptoms and their descriptions</h2>
            <h1 id="phlegm">Phelgm</h1>
            <h3>Phlegm is the thick, sticky mucus that your body makes, especially when you're sick. It comes from your lungs and throat and is usually clear but can turn yellow, green, or even brown if you have an infection. Your body makes phlegm to trap dust, germs, and other unwanted stuff, helping to keep your lungs clean.</h3>
            
        </div>

        <script src="/static/script.js"></script>
    </body>
</html>